{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Teil 1 - Instruktionen
{% endblock %}

{% block content %}

    <p>Sie beginnen nun mit dem ersten Teil des Experiments.</p>
    <p>Bitte versetzen Sie sich in eine Situation, in der Sie einen Geldbetrag in zwei verschiedene Anlagemöglichkeiten investieren können: Eine sichere Anlage und eine riskante Anlage.</p>
    <p>0% bedeutet, dass das gesamte Vermögen in eine sichere Anlage investiert wird. <br/> 50% bedeutet, dass die eine Hälfte des Gesamtvermögens in eine sichere Anlage und die andere Hälfte in eine riskante Anlage investiert wird. <br/> 100% bedeutet, dass das gesamte Vermögen in die riskante Anlage investiert wird.</p>
    <p>Ihre Aufgabe ist es, die fünf Begriffe (zur Beschreibung des Anlageverhaltens) mit den Investitionsanteilen in die riskante Anlage in Verbindung zu bringen. Ziehen Sie dazu zunächst die einzelnen Begriffe auf die Skala. Im Anschluss daran können Sie die Größe, d.h. den jeweils abgedeckten Investitionsbereich, der einzelnen Begriffe durch ziehen mit der Maus anpassen. Die Reihenfolge ist fest vorgegeben und die fünf Begriffe müssen die gesamte Skala abdecken.</p>
    <p>Wir bitten Sie die Begriffe so auf der Skala der möglichen Investitionsanteile zu verteilen, dass die Anordnung Ihrem Verständnis der Begriffe entspricht.</p>

    {% next_button %}

{% endblock %}
