{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Teil 2 - Instruktionen (2/3)
{% endblock %}

{% block content %}

    <p><strong>Anlagemöglichkeiten</strong><p>
    <p>Der Finanzberater teilt das gesamte Vermögen des Kunden beliebig zwischen folgenden beiden Anlagemöglichkeiten auf:</p>

    
    <table style="border-color: black; margin-left: auto; margin-right: auto; width: 826px;" border="2">
        <tbody>
            <tr>
                <td style="width: 423px;">
                    <p><em>Die sichere Anlage</em></p>
                </td>
                <td style="width: 432px;">
                    <p><em>Die riskante Anlage</em></p>
                </td>
            </tr>
            <tr>
                <td style="width: 423px;">
                    <p>&nbsp;</p>
                    <p>Der Kunde erh&auml;lt eine Rendite von 0% auf das investierte Kapital.</p>
                    <p>&nbsp;</p>
                </td>
                <td style="width: 432px;">
                    <p>Mit einer Wahrscheinlichkeit von &nbsp;erh&auml;lt der Kunde eine Rendite von +250% auf das investierte Kapital.</p>
                    <p>Mit einer Wahrscheinlichkeit von &nbsp;erh&auml;lt der Kunde eine Rendite von -100% auf das investierte Kapital.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>Für den Kunden setzt sich die Auszahlung aus der Geldanlage wie folgt zusammen:</p>
    
    <table style="border-color: black; margin-left: auto; margin-right: auto; width: 1000px;" border="0">
        <tbody>
            <tr>
                <td style="width: 500px;">
                    <p>Bei einem guten Ausgang der riskanten Anlage:<br/>
                    Auszahlung = {{ Constants.endowment_principals }} - Investment + (3,5 * Investment)</p>
                </td>
                <td style="width: 500px;">
                   <p>Bei einem schlechten Ausgang der riskanten Anlage:<br/>
                    Auszahlung = {{ Constants.endowment_principals }} - Investment </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p><strong>Kontrollfragen</strong></p>
    {% formfield player.question_4  label="Nehmen Sie an, für einen Kunden wurden 4€ in die riskante Anlage investiert und die Investition war erfolgreich.  <br/>Welche Auszahlung erhält der Kunde?" %}

    {% formfield player.question_5  label="Nehmen Sie an, für einen Kunden wurden 6€ in die riskante Anlage investiert und die Investition war nicht erfolgreich. <br/>Welche Auszahlung erhält der Kunde?" %}

    {% next_button %}

{% endblock %}
